.lower{
  margin-bottom: 0px;
  position: absolute;
  color: #7a7a7b;
  font-size: medium;
  bottom: -10px;
  text-align: center;
  width: 100%;
  border-top: 1px solid #7a7a7b;
}
.nav-link:hover{
  text-decoration: underline;
  transition: 2s all ease-in-out
  }
.row{
border: none!important;


}
