

// input {
//   margin: 0.25em 0em 1em 0em;
// }
// input {
//   margin: 0.25em 0em 1em 0em;
//   outline: none;
//   padding: 0.5em;
//   border: none;
//   background-color: rgb(225, 225, 225);
//   border-radius: 0.25em;
//   color: black;
// }
// button {
//   padding: 0.75em;
//   border: none;
//   outline: none;
//   background-color: rgb(68, 18, 232);
//   color: white;
//   border-radius: 0.25em;
// }

// button:hover {
//   cursor: pointer;
//   background-color: rgb(41, 4, 164);
// }
.icon{
  align-items: center;
}
.textCenter{
  background-color: rgb(234, 246, 242);
  border-bottom-left-radius: 42px;
  border-bottom-right-radius: 42px ;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  color: rgb(43, 166, 130);
  text-align: center;
  box-sizing: border-box;
  font-family: poppins-regular-webfont;
  outline-color: rgb(43, 166, 130);
 
}
.linkedinTab{
  display: inline-block;
  margin-right: 20px;
}
.googleTab{
  display: inline-block;
  margin-right: 20px;
}
.fbTab{
  display: inline-block;
}
.socialLogin{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.socialLogin:hover{
  cursor: pointer;
}
lable {  
 display: block;  
 position: relative;  
 text-transform: uppercase;  
  color: #aaa;
}  
.fa-eye{
  cursor: pointer;
}
// input[type='password']:focus {  
//   outline: none;  
//    -moz-outline: none;  
//    -webkit-outline: none;  
// }  
// input[type='password'] {  
//   width: 100%;  
//   box-sizing: border-box;  
//   height: 55px;  
//   display: inline-block;  
//   border: 3px solid #2F96EF;  
//   border-radius: 5px;  
//   padding: 0 15px;  
//   margin: 10px 0;  
//   transition: .2s;  
// }  
// input[type='text'] {  
//   width: 100%;  
//   box-sizing: border-box;  
//   height: 55px;  
//   display: inline-block;  
//   border: 3px solid #2F96EF;  
//   border-radius: 5px;  
//   padding: 0 15px;  
//   margin: 10px 0;  
//   transition: .2s;  
// } 
// input[type='file'] {  
//   box-sizing: border-box;  
//   height: 55px;
//   border: 3px solid #2F96EF;  
//   border-radius: 5px;  
// } 
