
    <div class="container">
      <div class="row">
        <div class="col-lg-12 my-3">
          <h2 class="text-center"> <i class="fa fa-user-circle text-black"></i>
            Register</h2>
          <p class="sectionText text-center">It only takes a couple of minutes to start.</p>
          <div class="textCenter">
            <span class="itsfree">it's free!</span>
          </div>
        </div>
      </div>
      <div>   
        <div class="socialLogin my-2">
          <div class="linkedinTab socialLoginTab">
            <a href="https://in.linkedin.com/">
              <i class="fab fa-linkedin text-black fs-3"></i>
            </a>
          </div>
          <div class="googleTab socialLoginTab">
            <a href="https://mail.google.com/">
              <i class="fab fa-google text-success fs-3"></i>
            </a>
          </div>
          <div class="fbTab socialLoginTab">
            <a href="https://www.facebook.com/">
              <i class="fab fa-facebook fs-3"></i>
            </a>
          </div>

        </div>
      </div>
      <form class="needs-validation" novalidate>
        <div class="row mt-3">
          <div class="col-lg-6">
            <label for="fullname"><b>Full Name</b></label>
            <div class="input-group mb-3">
              <input type="text" class="form-control" id="fullname" name="fullName" [(ngModel)]="formValue.fullName" required>
              <div class="invalid-feedback">
                Full Name is Required.
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <label for="email"><b>Email</b></label>
            <div class="input-group mb-3">
              <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formValue.email">
            </div>
          </div>
  
          <div class="col-lg-6">
            <label><b>Resume Upload</b></label>
            <div class="input-group mb-3">
              <input type="file" class="form-control" id="inputGroupFile01" name="fileData" [(ngModel)]="formValue.fileData">
            </div>
          </div>
  
          <div class="col-lg-6">
            <label for="contact"><b>Contact Number</b></label>
            <div class="input-group mb-3">
              <input type="number" class="form-control" id="contact" name="contact" [(ngModel)]="formValue.contact">
            </div>
          </div>
  
          <div class="col-lg-6">
            <label for="Password"><b>Password</b></label>
            <div class="input-group mb-3">
              <input [type]="show ? 'text':'password' " class="form-control" id="Password" name="password" [(ngModel)]="formValue.password">
              <label (click)="show = !show" class="input-group-text" for="inputGroupFile02">
                <i class="fa fa-eye"></i>
              </label>
            </div>
          </div>
  
          <div class="col-lg-6">
            <label for="Cpassword"><b>Confirm Password</b></label>
            <div class="input-group mb-3">
              <input [type]="show1 ? 'text':'password' " class="form-control" id="Cpassword" name="cPassword" [(ngModel)]="cPassword">
              <label (click)="show1 = !show1" class="input-group-text" for="inputGroupFile02" >
                <i class="fa fa-eye"></i>
              </label>
            </div>
          </div>
  
          <div class="col-lg-12 my-3 text-center">
            <div class="fieldGroup">
              <label class="formLabel">
                <b> Gender</b> <span class="required">*</span>
              </label>
              <div class="genderBox">
                <div class="choiceGroupContainer">
                  <label class="radioChoice">
                    <input id="option-0" type="radio" name="radioChoice" class="radioBoxField" value="Male"
                      style="width: 16px ;" [(ngModel)]="formValue.gender">
                    Male
                  </label>
                  <label class="radioChoice">
                    <input id="option-1" type="radio" name="radioChoice" class="radioBoxField" value="Female"
                      style="width: 16px; margin-left:10px" [(ngModel)]="formValue.gender">
                    Female
                  </label>
                  <label class="radioChoice">
                    <input id="option-2" type="radio" name="radioChoice" class="radioBoxField" value="Prefer not to say"
                      style="width: 16px; margin-left:10px" [(ngModel)]="formValue.gender">
                    Prefer not to say
                  </label> <!---->
                </div>
              </div> <!---->
            </div>
          </div>
          <div class="col-lg-12 my-4">
            <button type="submit" class="btn btn-primary w-100" (click)="handleRegister()">Register</button>
            <p class="my-2 text-center">Already have an account? <a routerLink="/auth/login">Log in</a>.</p>
          </div>
        </div>
      </form>

    </div>
 